body {
  font-family: cursive;
  margin: 0;
  padding: 20px;
}

#map {
  height: 500px;
  width: 100%;
  max-width: 100%;
  border-radius: 12px;
  border: 2px solid hotpink;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #e91e63;
  margin-bottom: 10px;
}
